# Python 和 MongoDB

今天这篇文章将简单探讨一下如何使用 Python 操作 MongoDB 数据库

如果你看过我之前的文章或者对关系型数据库比较了解的话，那么 MongoDB 中的概念也是通用的，下面我们简单的来做一个对比

SQL | No SQL <br>
库  | 库 <br>
表  | 集合 <br>
行  | 文档 <br>
列  | 字段 <br>

在关系型数据库中的概念在非关系型数据库也是有对应的，比较一下就很容易理解了

### 测试连接数据库

In [1]:
# 对数据库操作之前 要先进行数据库连接
import pymongo
client = pymongo.MongoClient(host = '127.0.0.1')

首先，调用 MongoClient 方法对数据库进行连接,参数一般我们写两个，host 写主机 ip ，还有一个是 port 端口号，port默认的话是 27017 可以省略。

### 数据库创建

In [2]:
db = client.traffic # 读取‘trffic’数据库，如果该数据库不存在则创建数据库 
print(db)

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'traffic')

In [3]:
db_list = client.list_database_names()
db_list

['admin', 'config', 'traffic']

此时可以看到 traffic 数据库暂时还没有被创建。实际上在MongoDB中，只有当创建集合并插入文档之后数据库才会被创建。

### 数据写入

MongoBD 中有单条写入数据的方法 insert_one() 和多条写入数据的方法 insert_many()

In [4]:
collections = db.person # 创建一个集合，集合就相当于SQL中的表名
# 继续在表中添加数据

person_one = {
    'name': 'WHW',
    'age': '24',
    'height': '175',
    'weight': '60'
}

result = collections.insert_one(person_one)  # 文档插入集合
print(result)  # 打印结果
print(result.inserted_id)  # 打印插入数据的返回 id 标识

<pymongo.results.InsertOneResult object at 0x000001A0014E4AC0>
60ae6ef87412ae5178344eb0

至此为止，数据库才创建成功, 接下来查看一下，果然数据库创建完成了
![](Picture/One_field.png)

In [5]:
db_list = client.list_database_names()
db_list

['admin', 'config', 'traffic']

insert_one() 方法用于插入一条数据，当需要插入多条数据时可以使用insert_many()方法

In [6]:
person_one = {
    'name': 'WHW',
    'age': '24',
    'height': '175',
    'weight': '60'
}

person_two = {
    'name': 'WHW',
    'age': '22',
    'height': '180',
    'weight': '63'
}

person_list = [person_one, person_two]
result = collections.insert_many(person_list)
print(result)

<pymongo.results.InsertManyResult object at 0x000001A001508800>

### 数据查询

与写入数据类似，查询数据也可以查询单条数据 find_one() 或者多条数据 find()

In [7]:
# 单条查询
result = collections.find_one()
print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}

In [8]:
# 多条查询
results = collections.find()
for result in results:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb2'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}

In [9]:
# limit()
results = collections.find().limit(3) # 只查看前三个文档
for result in results:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb2'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}

但既然是查询，当然我们可以指定想要返回的字段，就像 SQL 语句一样

SELECT name, age from person

在 find() 方法中，查询指定字段的方法如下，0代表不要，1代表要,注意，里面是两个参数，第一个参数是空的对象

In [10]:
result = collections.find({}, {'_id': 0, 'name': 1, 'age': 1})
for a in result:
    print(a)

{'name': 'WHW', 'age': '24'}
{'name': 'WHW', 'age': '24'}
{'name': 'WHW', 'age': '22'}

这样我们就查询了 name 和 age 两个字段，注意不想查询的字段一定要赋0，不然仍然会显示在查询的结果中。下面的例子中 id 字段仍然被选中了

In [11]:
results = collections.find({}, {'name': 1, 'age': 1})
for result in results:
    print(a)

{'name': 'WHW', 'age': '22'}
{'name': 'WHW', 'age': '22'}
{'name': 'WHW', 'age': '22'}

查询还可以根据设定的条件查询，在 SQL 中如过想查询 age 为‘22’的 person 信息一般会使用如下的查询语句 

SELECT * FROM person WHERE age = '22'  

在 pymongo 中想达到相同的效果，可以使用如下查询

In [12]:
results = collections.find({'age': '22'})
for result in results:
    print(a)

{'name': 'WHW', 'age': '22'}

### Pymongo 中的比较运算符查询

* lt: less than，相当于 <
* gt: greater than，相当于 >
* lte: less than or equal, 相当于 <=
* gte: greater than or equal, 相当于 >=
* ne: not equal, 相当于 !=
* in: in
* nin: not in

语法： collection.find({'field': {'$comparison operator': value,}})

In [13]:
results = collections.find({'age': {'$gt': '20'}, 'name':{'$ne': 'whw'}})
for result in results:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb2'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}

### Pymongo 中的逻辑运算符查询


* and: 与
* not: 非
* nor: 或非
* or: 或

语法： collection.find({'$logical operator': [{condition1},
                              {condition2}]})

In [14]:
results = collections.find({'$and': [{'age': {'$gt': '20'}, 
                                      'name':{'$ne': 'whw'}}]})
for result in results:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb2'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}

In [15]:
results = collections.find({'$or': [{'age':  '20'}, 
                                    {'age':'22'}]})
for result in results:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb2'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}

In [16]:
results = collections.find({'$nor': [{'age':  '20'}, 
                                    {'age':'22'}]})
for result in results:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}

In [17]:
# 注意not的使用方法与其他逻辑运算符是不同的
results = collections.find({'age': {'$not':{'$lte': '20'}}})
for result in results:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb2'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}

与查询相关的用法还有很多, 可以在MongoDB的官方文档中找到 https://docs.mongodb.com/manual/reference/operator/query/
之后我打算单独写一个章节来介绍 MongoDB 的查询

### 计数

count()方法可以用来统计查询结果中有多少条数据

语法：

In [18]:
count = collections.find({'age': {'$not':{'$lte': '20'}}}).count()
count

<ipython-input-18-3c5b5b4eb0da>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count = collections.find({'age': {'$not':{'$lte': '20'}}}).count()

3

### 排序

sort() 方法，可以按照升序或降序进行排列
* ASCENDING: 升序
* DESCENDING: 降序

语法：

In [19]:
#升序排列
ages = collections.find().sort('age', pymongo.ASCENDING)
print([result['age'] for result in ages])

['22', '24', '24']

In [20]:
#降序排列
ages = collections.find().sort('age', pymongo.DESCENDING)
print([result['age'] for result in ages])

['24', '24', '22']

### 更新

update() 方法可以用来更新数据，只需要指定更新的条件和需要更新的数据即可

更新单条数据：update_one()

In [21]:
# 我们想将所有age 24 的数据更新为27
# 首先找到所有的 age 24 数据
condition = {'age': '24'}
age_22 = collections.find(condition)
for result in age_22:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}

In [22]:
condition_2 = {'$set': {'age': '27'}}

collections.update_one(condition, condition_2)

age_27 = collections.find({'age': '27'})
for result in age_27:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '27', 'height': '175', 'weight': '60'}

通过使用update_one, 有一条数据额被成功更新了

如果要更新多条信息的话可以使用update_many()

In [23]:
collections.update_many(condition, condition_2)

age_27 = collections.find({'age': '27'})
for result in age_27:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb0'), 'name': 'WHW', 'age': '27', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '27', 'height': '175', 'weight': '60'}

这样我们就将所有 age 是 '24' 的数据的 age 更新为 '27' 了

到目前为止我们的数据库中有三条数据， 也就是3个documents
![](Picture/Three_fields.png)

### 删除操作

同样的，删除也分为删除单条 delete_one() 和删除多条操作 delete_many()

In [24]:
# 删除单条
condition = {'age': '27'}

collections.delete_one(condition)

age_27 = collections.find({'age': '27'})
for result in age_27:
    print(result)

{'_id': ObjectId('60ae6ef87412ae5178344eb1'), 'name': 'WHW', 'age': '27', 'height': '175', 'weight': '60'}

In [25]:
#删除多条
collections.delete_many(condition)

age_27 = collections.find({'age': '27'})
for result in age_27:
    print(result)

至此，所有 age 27 的数据已经全部删除了 

如果不声明任何条件的话，就会删除 collection 中的所有数据

In [26]:
# 删除全部
collections.delete_many({})

outcome = collections.find()
for result in outcome:
    print(result)

到目前为止数据库中的所有数据都被我们删除了
![](Picture/No_field.png)

## 总结

这篇文章概述了如何在 Python 中 通过使用 pymongo 来连接数据库，并且增查删改数据。其中‘查’是最为复杂的，因此我准备后面单独出一篇文章来详细讲述 MongoDB 中的‘查’。