## 测试连接数据库

In [3]:
import pymongo
client = pymongo.MongoClient(host = '127.0.0.1')

首先，调用 MongoClient 方法对数据库进行连接,参数一般我们写两个，host 写主机 ip ，还有一个是 port 端口号，port默认的话是 27017 可以省略。

### 数据库创建

In [4]:
db = client.traffic # 读取‘trffic’数据库，如果该数据库不存在则创建数据库 
print(db)

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'traffic')

In [6]:
db_list = client.list_database_names()
db_list

['admin', 'config', 'local']

### 数据写入

此时可以看到 traffic 数据库暂时还没有被创建。实际上在MongoDB中，只有当创建集合并插入文档之后数据库才会被创建。

In [7]:
collections = db.person # 创建一个集合，集合就相当于SQL中的表名
# 继续在表中添加数据

person_one = {
    'name': 'WHW',
    'age': '24',
    'height': '175',
    'weight': '60'
}

result = collections.insert_one(person_one)  # 文档插入集合
print(result)  # 打印结果
print(result.inserted_id)  # 打印插入数据的返回 id 标识

<pymongo.results.InsertOneResult object at 0x000001BBCADAE180>
60ad2e6d5957fbef2d5120d6

至此为止，数据库才创建成功, 接下来查看一下，果然数据库创建完成了

In [9]:
db_list = client.list_database_names()
db_list

['admin', 'config', 'local', 'traffic']

insert_one() 方法用于插入一条数据，当需要插入多条数据时可以使用insert_many()方法

In [13]:
person_one = {
    'name': 'WHW',
    'age': '24',
    'height': '175',
    'weight': '60'
}

person_two = {
    'name': 'WHW',
    'age': '22',
    'height': '180',
    'weight': '63'
}

person_list = [person_one, person_two]
result = collections.insert_many(person_list)
print(result)

<pymongo.results.InsertManyResult object at 0x000001BBCC663400>

### 数据查询

与写入数据类似，查询数据也可以查询单条数据 find_one() 或者多条数据 find()

In [15]:
# 单条查询
result = collections.find_one()
print(result)

{'_id': ObjectId('60ad2e6d5957fbef2d5120d6'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}

In [16]:
# 多条查询
results = collections.find()
for result in results:
    print(result)

{'_id': ObjectId('60ad2e6d5957fbef2d5120d6'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ad5af85957fbef2d5120d7'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ad5af85957fbef2d5120d8'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}
{'_id': ObjectId('60ad5b065957fbef2d5120d9'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ad5b065957fbef2d5120da'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}
{'_id': ObjectId('60ad5b225957fbef2d5120db'), 'name': 'WHW', 'age': '24', 'height': '175', 'weight': '60'}
{'_id': ObjectId('60ad5b225957fbef2d5120dc'), 'name': 'WHW', 'age': '22', 'height': '180', 'weight': '63'}

但既然是查询，当然我们可以指定想要返回的字段，就像 SQL 语句一样

SELECT name, age from person

在 find() 方法中，查询指定字段的方法如下，0代表不要，1代表要,注意，里面是两个参数，第一个参数是空的对象

In [17]:
result = collections.find({}, {'_id': 0, 'name': 1, 'age': 1})
for a in result:
    print(a)

{'name': 'WHW', 'age': '24'}
{'name': 'WHW', 'age': '24'}
{'name': 'WHW', 'age': '22'}
{'name': 'WHW', 'age': '24'}
{'name': 'WHW', 'age': '22'}
{'name': 'WHW', 'age': '24'}
{'name': 'WHW', 'age': '22'}

这样我们就查询了 name 和 age 两个字段，注意不想查询的字段一定要赋0，不然仍然会显示在查询的结果中。下面的例子中 id 字段仍然被选中了

In [19]:
results = collections.find({}, {'name': 1, 'age': 1})
for result in results:
    print(a)

{'_id': ObjectId('60ad5b225957fbef2d5120dc'), 'name': 'WHW', 'age': '22'}
{'_id': ObjectId('60ad5b225957fbef2d5120dc'), 'name': 'WHW', 'age': '22'}
{'_id': ObjectId('60ad5b225957fbef2d5120dc'), 'name': 'WHW', 'age': '22'}
{'_id': ObjectId('60ad5b225957fbef2d5120dc'), 'name': 'WHW', 'age': '22'}
{'_id': ObjectId('60ad5b225957fbef2d5120dc'), 'name': 'WHW', 'age': '22'}
{'_id': ObjectId('60ad5b225957fbef2d5120dc'), 'name': 'WHW', 'age': '22'}
{'_id': ObjectId('60ad5b225957fbef2d5120dc'), 'name': 'WHW', 'age': '22'}

查询还可以根据设定的条件查询，在 SQL 中如过想查询 age 为‘22’的 person 信息一般会使用如下的查询语句 

SELECT * FROM person WHERE age = '22'  

在 pymongo 中想达到相同的效果，可以使用如下查询

In [ ]:
result2 = collections.find({'age': '22'})